<% @user.posts.each do |p|%>
    <div class="p-2 border border-dark">
        <%=image_tag(@user.avatar_url) if @user.avatar? %>
        <%=p.content%>
        <ul>
        <%=p.likes.count%>
        <%='Likes'%>
        <%like = p.likes.where(user_id: @user.id)%>
        <%if like==[]%>
        <%= button_to 'Like', likes_path, params: {like: {user_id: current_user.id, likable_id: p.id, likable_type: 'Post'}}%>
        <%else%> 
        <%= button_to 'Like', like_path(like), method: :delete %>
        <%end%>
        </ul>
            <%=p.comments.count%> 
            <%="Comments"%> 
            <%p.comments.each do |com|%>
            <%=render 'comments/comments', comment: com%>
            <%end%>
        <h6>Add a comment:</h6>
        <%=render 'comments/form', {type: @type_post, id: p.id}%>
    </div>
<%end%>