<% @current_user.posts.each do |p|%>
    <div class="p-2 border border-dark">
        <%=image_tag(@current_user.avatar_url) if @current_user.avatar? %>
        <h6> <%=link_to @current_user.name, @current_user%></h6>
        <%=p.content%>
        <ul>
        <%=p.likes.count%>
        <%='Likes'%>    
        <%like = p.likes.where(user_id: current_user.id).first%>
       
        <%if like.nil?%>
        <%= button_to 'Like', likes_path, params: {like: {user_id: current_user.id, likable_id: p.id, likable_type: 'Post'}}%>
        <%else%> 
        <%=button_to 'Like', like_url(id_like: like.id), method: :delete %>
        <%end%>
        </ul>
        <ul>
        <li><%= link_to "Edit", edit_post_path(p) %></li>
        <li><%= link_to "Destroy", post_path(p), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                        } %></li>
        </ul>
            <%=p.comments.count%> 
            <%="Comments"%> 
            <%p.comments.each do |com|%>
            <%=render 'comments/comments', comment: com%>
            <%end%>
        <h6>Add a comment:</h6>
        <%=render 'comments/form', {type: @type_post, id: p.id}%>
    </div>
<%end%>