<% @random_posts.each do |p|%>
    <%=p.content%>
    <ul>
    <li><%= link_to "Edit", edit_post_path(p) %></li>
    <li><%= link_to "Destroy", post_path(p), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    } %></li>
    </ul>

    <%# <h2>Comments</h2>
    <%= render @article.comments %>

    <h2>Add a comment:</h2> %>
    <%# <%=render 'comments/form' %> %>
<%end%>