
<% @random_posts.each do |p|%>
<div class="p-2 border border-dark">
    <h4><%=p.user.name%> </h4>
    <%=p.content%>
    <ul>
    <%=p.likes.count%>
    <%='Likes'%>
    <%= button_to likes_path, params: {like: {user_id: current_user.id, likable_id: p.id, likable_type: 'Post'}} do %>
    <i class="fa fa-thumbs-up">Like</i>
    <%end%>
    </ul>
    
    <h5>Comments</h5>

    <h5>Add a comment:</h5>
    <%=render 'comments/form', {type: "Post", id: p.id}%>
</div>
<br>
<%end%>
